uvicorn
fastapi
ddgs
duckduckgo-search
google-api-python-client
google-auth
google-auth-httplib2
httpx
huggingface-hub
langdetect
nltk
numpy
openai
packaging
pandas
playwright
postgrest
primp
pyarrow
pydantic
pydantic-extra-types
pydantic-settings
python-dotenv
PyMuPDF
pymupdf4llm
pytrends
razorpay
reportlab
requests
schedule
supabase
supabase-auth
supabase-functions
python-multipart
urllib3
sentence_transformers
google-search-results
trafilatura
SQLAlchemy
yt-dlp
tiktoken